<div class="flip-card" [class.rotating]="isRotating()" [class.expanding]="isExpanding()" (click)="onCardClick()">
  <div class="flip-card-inner" [class.flipped]="isFlipped()">
    <div class="flip-card-front">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Quiz</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Pon a prueba tus conocimientos</p>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="flip-card-back">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Comenzar</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>¡Vamos allá!</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>
